<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stupid Password Manager</title>

    <meta http-equiv="Content-Security-Policy" content="
    script-src 'self' 'unsafe-eval' 'sha256-aEfXBgd6cJT36piFYsgKooHYVEoQpgTsSCCDwckk+Oo='
    https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js
    https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css
    https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js
    https://cdn.jsdelivr.net/npm/vue@2.6.11
    https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.js">

    <!--Bootstrap and JQuery-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!--Vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!--Crypto.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.js"></script>
    <!--Javascript file-->
    <script defer src="render.js"></script>
</head>
<body>
<div class="container-fluid" id="app">
    <!--name of the application-->
    <div class="row">
        <div class="col">
            <h2 class="text-center">{{ title }}</h2>
        </div>
    </div>

    <!--input necessary information to store or decrypt passwords-->
    <form class="row">
        <!--input for the name of the service-->
        <div class="input-group input-group-sm col-lg-2 col-md-12 col-sm-12 mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Service</span>
            </div>
            <input type="text" class="form-control" placeholder="e.g. Gmail" v-model="service_name" v-on:keyup="inputChange">
        </div>

        <!--input for the password used to encrypt the service password-->
        <div class="input-group input-group-sm col-lg-5 col-md-6 col-sm-12 mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Encrypt Password</span>
            </div>
            <input type="password" class="form-control" placeholder="password" v-model="encrypt_password" v-on:keyup="inputChange">
        </div>

        <!--input for the password to be encrypted-->
        <div class="input-group input-group-sm col-lg-5 col-md-6 col-sm-12 mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Service Password</span>
            </div>
            <input type="password" class="form-control" placeholder="password" v-model="service_password" v-on:keyup="inputChange">
        </div>

        <div class="alert alert-warning alert-dismissible fade show col-12" v-if="service_name == 'hasOwnProperty'">
            <strong>Warning!</strong> hasOwnProperty is designed to be an invalid service name.
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>

        <!--button for Add or Decrypt operation-->
        <div class="btn-group col-1 mb-3">
            <button type="button" class="btn btn-dark" :disabled="!(stage_area_view == StageAreaEnum.ADD_PREVIEW)" @click="addClicked">Add</button>
            <button type="button" class="btn btn-dark" :disabled="!(stage_area_view == StageAreaEnum.DECRYPT_VIEW || stage_area_view == StageAreaEnum.REMOVE_PREVIEW)" @click="removeClicked">Remove</button>
            <button type="button" class="btn btn-dark" :disabled="Object.keys(stored_passwords).length == 0" @click="clearClicked">Clear</button>
            <button type="button" class="btn btn-dark" :disabled="Object.keys(stored_passwords).length == 0" @click="saveClicked">Save</button>
            <button type="button" class="btn btn-dark" :disabled="Object.keys(stored_passwords).length > 0" @click="importClicked">Import</button>
        </div>

        <div class="btn-group offset-lg-9 col-lg-2 offset-md-8 col-md-3 offset-sm-8 col-sm-3 offset-0 col-12 mb-3">
            <button type="button" class="btn btn-outline-dark" :disabled="!(service_name != '' || encrypt_password != '' || service_password != '')" @click="clearFields">Clear Inputs</button>
        </div>
    </form>

    <!--preview of encrypted password-->
    <h4 v-if="stage_area_view == StageAreaEnum.ADD_PREVIEW || stage_area_view == StageAreaEnum.REMOVE_PREVIEW">Preview</h4>
    <h4 v-if="stage_area_view == StageAreaEnum.DECRYPT_VIEW">Decryption</h4>
    <div id="preview" class="row" v-if="stage_area_view">
        <table class="table table-dark col-12">
            <thead>
            <tr>
                <th>Service</th>
                <th v-if="stage_area_view == StageAreaEnum.ADD_PREVIEW || stage_area_view == StageAreaEnum.REMOVE_PREVIEW">Encrypted Password</th>
                <th v-if="stage_area_view == StageAreaEnum.DECRYPT_VIEW">Decrypted Password</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ service_name }}</td>
                <td v-if="stage_area_view == StageAreaEnum.ADD_PREVIEW || stage_area_view == StageAreaEnum.REMOVE_PREVIEW">{{ encrypted_password }}</td>
                <td v-if="stage_area_view == StageAreaEnum.DECRYPT_VIEW">{{ decrypted_password }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--displays all the password stored by password manager-->
    <h4>Stored Password</h4>
    <div class="row">
        <table class="table table-dark col-12">
            <thead>
            <tr>
                <th>Service</th>
                <th>Encrypted Password</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="service in Object.keys(stored_passwords)">
                <td>{{ service }}</td>
                <td>{{ stored_passwords[service] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
